<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<nav th:fragment="toolbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropDown"
            aria-controls="dropDown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="dropDown">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-link" href="/"><img th:src="@{/images/home.png}" width="40" height="40">
                    <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/product/add">Add product</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/product/all">Product list</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/logout">Log out</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>

    <li class="nav-item nav navbar-nav navbar-right">
        <a class="nav-link" href="/register">Register </a>
    </li>

    <li class="nav-item nav navbar-nav navbar-right">
        <a class="nav-link" href="/login">Log in</a>
    </li>

    <li class="nav-item nav navbar-nav navbar-right">
        <a class="nav-link" target="_blank" href="http://localhost:63342/final_project_wro27/templates/fragments/contact/index.html?_ijt=1o4dv17t0e6utncner9e200a2v">
            About me</a>
    </li>

    <div id="basket-content" style="display: none">

    </div>

    <div class="btn btn-secondary" id="show-basket">
        <a class="navbar-link" href="/basket/content"><img th:src="@{/images/basket.png}" width="30" height="30"></a>
    </div>


</nav>

</body>
</html>
