<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <script th:replace="fragments/commons::assets"></script>
    <script type="text/javascript" src="../templates/slider.js" th:href="@{/templates/slider.js}"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>


</head>
<body>
<div class="container-bg">
    <div>
        <p><span th:text="${weather}">Actual weather</span></p>
    </div>
    <div th:replace="fragments/toolbar :: toolbar">
    </div>

    <div id="advertisement">
        <script>
            changeImage();
        </script>
    </div>
</div>
</body>
</html>
