<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<span th:text="${temperature}"></span>

<a href="/login">Zaloguj</a>
<a href="/logout">Wyloguj</a>
<a href="/register">Zarejestruj się</a>
<a href="/product/all">Lista produktów</a>
<a href="/product/add">Dodaj produkt</a>
<h1>Welcome to the shop</h1>


</body>
</html>
