<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script th:replace="fragments/commons::assets">
    </script>
</head>
<body>
<div th:replace="fragments/toolbar :: toolbar">
</div>

<div class="container-fluid">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" th:each="product : ${products}">
                <div><a th:href="@{'/product' + ${product.id}}"></a></div>
                <div class="row" style="border: black solid 1px">
                    <div class="col-md-4" th:text="${product.productTitle}">

                    </div>
<!--dodawanie adresu URL w formularzu-->
                    <img class="col-md-4"

                         th:src="@{${product.productImageUrl}}">
                    <div class="col-md-4" th:text="${product.productPrice}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!--paginacja, linki do wpisanych parametrów-->
<!--    <a href="/product/all?page=0&&size=3">1</a>-->
<!--    <a href="/product/all?page=1&&size=3">2</a>-->
<!--    number.sequence - iteruje jak w pętli -->
    <th:block th:each="i: ${#numbers.sequence(0, products.getTotalPages() - 1)}">
        <a class="btn btn-secondary" th:href="@{/product/all(page=${i})}" th:text="${i+1}"></a>
    </th:block>
</div>
</body>
</html>
