<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <script th:replace="fragments/commons::assets"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>



</head>
<body>
<div th:replace="fragments/toolbar :: toolbar"></div>

<div class="row row-cols-3 row-cols-md-3">
    <div class="col-md-4">
        <div class="card">
            <div th:each="product : ${products}">
                <div><a th:href="@{'/product' + ${product.id}}"></a></div>

                <!--dodawanie adresu URL w formularzu-->
                <img class="card-img-top"  th:src="@{${product.productImageUrl}}">

                <div class="card-body">
                    <h5 class="card-title" th:text="${product.productTitle}"></h5>
                    <div class="card-text" th:text="${product.productPrice}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!--paginacja, linki do wpisanych parametrów-->
<!--    <a href="/product/all?page=0&&size=3">1</a>-->
<!--    <a href="/product/all?page=1&&size=3">2</a>-->
<!--    number.sequence - iteruje jak w pętli -->
    <th:block th:each="i: ${#numbers.sequence(0, products.getTotalPages() - 1)}">
        <a class="btn btn-secondary" th:href="@{/product/all(page=${i})}" th:text="${i+1}"></a>
    </th:block>
</div>
</body>
</html>
