<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script th:replace="fragments/commons::assets"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>


</head>
<body>
<div th:replace="fragments/toolbar :: toolbar"></div>

<h2 class="text-center">REGISTRATION</h2>

<form class="forms" action="/register" method="post" th:object="${registrationObject}" >

<div class="form-row">
    <div class="form-group col-md-6">
    <input class="form-control is-valid" type="text" th:field="*{firstName}" placeholder="Imię"><br>
    </div>
    <div class="form-group col-md-6">
    <input class="form-control is-valid" type="text" th:field="*{lastName}" placeholder="Nazwisko"><br>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
    <input class="form-control" type="text" th:field="*{city}" placeholder="Miasto"><br>
    </div>
    <div class="form-group col-md-6">
    <select class="form-control" type="text" th:field="*{country}" placeholder="Kraj"><br>
        <option th:each="c : ${countries}" th:text="${c.plName}" th:value="${c.symbol}"></option>
    </select><br>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
    <input class="form-control" type="text" th:field="*{street}" placeholder="Ulica"><br>
    </div>
    <div class="form-group col-md-6">
    <input class="form-control" type="text" th:field="*{zipCode}" placeholder="Kod pocztowy"><br>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
    <input class="form-control" type="date" th:field="*{birthDate}" placeholder="Data urodzenia"><br>
    </div>
    <div class="form-group col-md-6">
    <input class="form-control" type="text" th:field="*{pesel}" placeholder="Pesel"><br>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-4">
    <input class="form-control" type="email" th:field="*{login}" placeholder="Email"><br>
    </div>
    <div class="form-group col-md-4">
    <input class="form-control" type="password" th:field="*{password}" placeholder="Hasło"><br>
    </div>
    <div class="form-group col-md-4">
    <input class="form-control" type="text" th:field="*{phoneNumber}" placeholder="Numer telefonu"><br>
    </div>
</div>

<div class="form-group">
    <div class="form-check loginPage">
    <label class="form-check-label" for="prefer">Wybieram email</label>
    <input class="form-check-input" id="prefer" type="checkbox" th:field="*{preferEmails}"><br>
    </div>
</div>

    <div class="form-horizontal loginPage">
    <button class="btn btn-primary form-control" type="submit">Zarejestruj się</button><br>
    <button class="btn btn-warning form-control" type="reset">RESET</button>
    </div>

</form>
</body>
</html>
